{% extends 'chat/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block css %}
    {% static  'accounts/style.css' %}
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-lg-6 wrapper">
            <div class="splash">
                <h1>SmartChat</h1>
                <p>A modern, easy to use messaging platform</p>
            </div>
        </div>
        <div class="col-lg-6 wrapper">
            <div id="signUpForm">
                <form  method="post">
                    {% csrf_token %}
                    <h4 style="margin-bottom: 2em; text-align: center">Become a SmartChat Member by creating your FREE account today</h4>
                    <div class="row">
                        <div class="col-lg-6">
                            {{ form.first_name|as_crispy_field }}
                        </div>
                        <div class="col-lg-6">
                            {{ form.last_name|as_crispy_field }}
                        </div>
                        <div class="col-lg-6">
                            {{ form.password2|as_crispy_field }}
                        </div>
                        <div class="col-lg-6">
                            {{ form.password1|as_crispy_field }}
                        </div>
                        <div class="col-lg-6">
                            {{ form.username|as_crispy_field }}
                        </div>
                    </div>
                    <div style="padding-left: 1em">
                        <button style="margin-top:2em; padding:.5em 1.5em; color:#2c91f4" type="submit" class="btn btn-outline-primary text-center">SIGN UP</button>
                    </div>
                </form>
                <hr>
                <div class="text-center" style="padding-top: 5px;">
                    <small>Already have an account? <a href="{% url 'login' %}">Login</a></small>
                </div>
            </div>
        </div>
    </div>
{% endblock %}