{% extends 'contacts/base.html' %}
{% load staticfiles %}
{% block css %}
{% static  'css/home.css' %}
{% endblock %}
{% block body %}
    {% if user.is_authenticated and not user.is_superuser%}
            <div class="row">
    <div class="col-md-3 col-xs-12" id="phone-panel">
        <nav class="navbar navbar-collapse-sm navbar-light bg-light">
            <h6>Logged in as <span style="color:#13f3de">{{ user.first_name }}</span></h6>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse text-right" id="navbarNavAltMarkup">
                {% if recents %}
                 <a class="nav-item nav-link" id="add" href="javascript:{document.getElementById('show_contacts').submit();}">Contacts</a>
                <form action="{% url 'show_contacts' %}" method="get" id="show_contacts">
                    {% csrf_token %}
                    <input type="hidden" name="user" value="{{ user.username }}"/>
                </form>
                    {% else %}
                 <a class="nav-item nav-link" id="add" href="javascript:{document.getElementById('init-add').submit();}">Add contact</a>
                    <a class="nav-item nav-link" href="{% url 'homepage' user.username %}">Recent chats</a>
                <form action="{% url 'add_contact' %}" method="get" id="init-add">
                    {% csrf_token %}
                    <input type="hidden" name="user" value="{{ user.username }}"/>
                </form>
                    {% endif %}
                <a class="nav-item nav-link active" href="#">Edit Account</a>
                <a class="nav-item nav-link " href="javascript:{document.getElementById('logout').submit();}">Logout</a>
                <form id="logout" method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <input type="hidden"/>
                </form>
            </div>

        </nav>
        <div id="pheader">
            <hr width="100%" style="padding-bottom: 0"/>
        {%  if mycontacts %}
            <h5 id="contact-header">Tap to start conversation</h5>
            {% elif recents %}
            <h5 id="contact-header">Recent chats</h5>
            {% elif message %}
            <h5 id="contact-header">{{ message }}</h5>
            {% endif %}
        {% if count %}
            <div id="count" style="padding:0 0 10px 0; "><small>{{ count }}</small></div>
            <br/>
            {% endif %}
        </div>
        <hr style="margin-top: 0"/>
        {% if mycontacts %}
        {% for contact in mycontacts %}
            <a href="javascript:{document.getElementById('{{ contact.phone }}').submit();}" id="chat_init">
            <div class="card contact">
            <div class="image" style="float:left; height:100%">
                <img src="{% static 'img/man.png' %}" alt="image" class="dp"/>
                <h4>{{ contact.name }}</h4>
                <br />
                <small style="padding-left: 50px; color:black">{{ contact.phone }}</small>
            </div>
        </div>
            </a>
          <form id="{{ contact.phone }}" method="post" action="{% url 'start_chat' %}">
                    {% csrf_token %}
                    <input type="hidden" name="page" value="contacts"/>
                    <input name="user_id" type="hidden" value="{{ user.username }}"/>
                    <input name="contact_id" type="hidden" value="{{ contact.phone }}"/>
                </form>
        {% endfor %}
            {% elif message %}
            <script type="text/javascript">
            document.getElementById('contact-header').innerHTML = '{{ message }}';
            </script>
            {% elif recents and recents != 'Null' %}
            {% for contact, text in recents %}
                <a href="javascript:{document.getElementById('{{ contact.phone }}').submit();}" id="chat_init">
            <div class="card contact">
            <div class="image" style="float:left; height:100%">
                <img src="{% static 'img/man.png' %}" alt="image" class="dp"/>
                <h4>{{ contact.name }}</h4>
                <br />
                <small style="padding-left: 50px;color:#0900ff;font-style: italic">{{ text }}</small>
            </div>
        </div>
            </a>
          <form id="{{ contact.phone }}" method="post" action="{% url 'start_chat' %}">
                    {% csrf_token %}
                    <input type="hidden" name="page" value="chats"/>
                    <input name="user_id" type="hidden" value="{{ user.username }}"/>
                    <input name="contact_id" type="hidden" value="{{ contact.phone }}"/>
                </form>
            {% endfor %}
        {% endif %}
    </div>
    <div class="col-md-8 col-xs-12 md-offset-1 d-none d-sm-block">
        <!-- a list of text messages by a friend -->
        <div class="texts">
            <div class="header" >
                <h3 id="active_user">Chat Panel</h3>
            </div>
     <section id="texts_section">
    {% if add %}
            <div class="row">
                <div class="col-md-4 offset-md-4 text-left">
                    <form action="{% url 'add_contact' %}" method="post" style="padding-top: 150px;">
                        {% csrf_token %}
                        {%  if error %}
                        <span style="color:red;padding-bottom:30px;text-align: center">{{ error }}</span>
                        {% endif %}

                        <div class="form-group">
                            <label for="phone">Phone Number</label>
                            <input type="text" name="phone" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" name="name" class="form-control" />
                            <input type="hidden" name="user" value="{{ user.username }}"/>
                        </div>
                        <input type="submit" value="Save" class="btn btn-primary" style="width:100%"/>
                    </form>
                </div>
            </div>
                {% elif textlist %}
                      {% if textlist == 'Null' %}
                          <script type="text/javascript">
                        document.getElementById('active_user').innerHTML = '<img src="{% static 'img/man.png' %}" id="activeimg" alt="image" class="dp"/>{{ contact.name }}';
                        </script>
                          <form action="{% url 'send_message' %}" method="post" class="form-inline" id="input-message">
                   {% csrf_token %}
                    <div class="form-group" style="width:100%" id="text_form">
                        <input type="hidden" name="user_id" value="{{ user.username }}"/>
                        <input type="hidden" name="contact_id" value="{{ contact.phone }}"/>
                    <textarea name="message" id="message" cols="30" rows="10" placeholder="Type a message"></textarea>
                        <span class="input-group-append"><button class="btn btn-primary" id="send"><img src="{% static 'png/caret-right-6x.png' %}"/></button></span>
                    </div >
                    </form>
                       {% else %}
                          <script type="text/javascript">
                        document.getElementById('active_user').innerHTML = '<img src="{% static 'img/man.png' %}" id="activeimg" alt="image" class="dp"/>{{ contact.name }}';
                        </script>
                    {% for date,messages in textlist%}
                        {% if  date == today %}
                          <p class="text-center date">Today</p>
                             {% else %}
                            <p class="text-center date">{{ date }}</p>
                        {% endif %}
                        {% for message,time in messages %}
                            {% if message.sender == user.username %}
                        <div class="receiver">
                        {% if message.content == 'No content' %}
                            <p></p>
                            {% else %}
                            <p> {{ message.content }}</p>
                            {% endif %}
                            <p class ="time">{{ time }}</p>
                        </div>
                            {% else %}
                            <div class="sender">
                           {% if message.content == 'No content' %}
                            <p></p>
                            {% else %}
                            <p> {{ message.content }}</p>
                            {% endif %}
                            <p class ="time">{{ time }}</p>
                            </div>
                        {% endif %}
                        {% endfor %}
                          {% endfor %}
                          {% endif %}
                   <form action="{% url 'send_message' %}" method="post" class="form-inline" id="input-message">
                   {% csrf_token %}
                    <div class="form-group" style="width:100%" id="text_form">
                        {% if recents %}
                        <input type="hidden" name="page" value="chats"/>
                            {% else %}
                             <input type="hidden" name="page" value="contacts"/>
                            {% endif %}
                        <input type="hidden" name="user_id" value="{{ user.username }}"/>
                        <input type="hidden" name="contact_id" value="{{ contact.phone }}"/>
                    <textarea name="message" id="message" cols="30" rows="10" placeholder="Type a message"></textarea>
                        <span class="input-group-append"><button class="btn btn-primary" id="send" type="submit"><img src="{% static 'png/caret-right-6x.png' %}"/></button></span>
                    </div >
                    </form>
        </section>
                        </div>
                    {% else %}
        <div class="row">
        <div class="col-md-4 offset-md-4 text-center" >
                    <h4 style="padding-top: 200px;font-family: 'Lobster Two', cursive; ">Welcome to Smart-Chat. <br/> Tap on a contact to start converstion</h4>
                </div>
                {% endif %}
        </div>

        </div>
            </div>

        {% else %}
        <script type="text/javascript">
          window.location = 'accounts/login'
        </script>
    {% endif %}
{% endblock %}




























