
 /*css file for the chat application*/

 body{
    padding: 10px;
}
 #phone-panel{
     height:100%;
     background-color:#00968800;
     position: absolute;
 }
 .avatar{
     border-radius: 50%;
     margin-left:0;
     height:30px;
     width:30px;
 }

 #user {
     font-weight: 900;
     color:#fff;
     margin:0;
     padding-left: 5px;
     font-size: 25px;
 }
 .texts{
    position:fixed;
    top:0;
    right:0;
    height:100%;
    width:75%;
    background-color:ghostwhite;
 }
 .header{
     background-color:white;
     padding-bottom: 40px;
     padding-top: 10px;
     font-size: 25px;
    background-color: #05afaf;
 }
.sender{
    height:50px;
    width:70%;
    float:left;
    background-color: #13f3de;
    border-radius: 7px;
    margin-top: 14px;
    margin-left: 15px;
    padding-left: 15px;
}
.receiver{
    height:50px;
    width:70%;
    float:right;
    background-color:tan;
    border-radius:7px;
    margin-top: 14px;
    margin-right: 15px;
    padding-left: 15px;
}
#input-message{
    position: fixed;
    bottom: 0%;
    width:100%;
    height:60px;
    background-color:#05afaf;
    padding-top:20px;
}


#message{
width:50%;
position: absolute;
height:60px;
}
#send{
    width:10%;
    position: absolute;
    margin-left: 50%;
    height:60px;
}


#pheader{
    line-height:1px;
    line-stacking: block-line-height;
    padding-bottom: 20px;
}
#phone-panel hr{
     margin-bottom: 0;
 }
#dp{
     border-radius: 50%;
     height:40px;
     width:40px;
     margin-top:5px;
 }
 #phone-panel .card{
     margin-top: 5px;
     padding: 5px 0 15px 10px;
     line-height: 0;
     background-color:#05afaf;
 }
 #phone-panel .card h4{
     color:aliceblue;
     display: inline;
     padding-top: 50px;
 }